<h1>Orders</h1>

<div>Hello Buyer, <%= current_user.email %></div>
<ul>
  <% @orders.each do |order| %>
    <li>
      <%= order.item_name %><br>
      <%= order.payment %><br>
      <p>Your order id is   <%= order.id %><p>
  </li>
  <% end %>
    <li class="list-inline-item"><%= link_to "Back", products_path(@products), class: "btn btn-secondary" %></li>
</ul>
