<h1>Cart Items</h1>
<% total_price = 0 %>
<% @cart_items.each do |cart_item| %>
  <div class="cart-item">
    <h3><%= cart_item.product.name %></h3>
    <h3><% total_price += cart_item.product.price * cart_item.quantity %></h3>
    <p>Quantity: <%= cart_item.quantity %></p>
    <li><%= link_to "Details", cart_item_path(cart_item) %></li>
    <li class="list-inline-item"></li>
  </div>
<% end %>
<p>Your Total Price is: <%= total_price %></p>
<li class="list-inline-item"><%= link_to "Back", products_path(@products), class: "btn btn-secondary" %></li>
