<!DOCTYPE html>
<html>
<head>
  <title>E-commerce Website</title>
</head>
<body>
  <nav>
    <div class="logo">My E-commerce Website</div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="/users/sign_out">Sign Out</a></li>
    </ul>
  </nav>

  <div class="container">
    <% if current_user.role == "admin" %>
      <div>Welcome Admin, <%= current_user.email %></div><br>
      <p>Here is the list of all sellers:</p>
      <ul>
        <% @sellers.each do |seller| %>
         <li><%= link_to seller.email, seller_list_path(seller_id: seller.id) %></li>
        <% end %>
      </ul>
    <% else %>
      <div>Welcome to <%= current_user.email %></div><br>
      <% if current_user.role == "seller" %>
        <p>Welcome, seller!</p>
        <a href="<%= new_product_path %>">Create New Product</a>
       <% seller_product_count = @products.count %>
      <p>You have created a total  <%= seller_product_count %> products </p>
        <ul>
          <% @products.each do |product| %>
            <li><%= link_to product.name, product_url(product) %></li>
          <% end %>
        </ul>
      <% else %>
        <h1>Products</h1>
        <ul>
          <% @products.each do |product| %>
            <li>
              <%= link_to product.name, product %>
              <p>$<%= product.price %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</body>
</html>
