<!DOCTYPE html>
<html>
<head>
  <title>E-commerce Website</title>
</head>
<body>

  <div class="container">
    <% if current_user.role == "admin" %>
      <div>Welcome Admin, <%= current_user.email %></div><br>
      <p>Here is the list of all sellers:</p>
      <% @sellers.each do |user| %>
     <li>
      <%= link_to user.email,seller_list_path(seller_id: user.id) %>
     </li>
    <% end %>
    <% else %>
      <div>Welcome to <%= current_user.email %></div><br>
       <% if current_user.role == "seller" %>
         <p>Welcome, seller!, <%= current_user.email %></p>
         <a href="<%= new_product_path %>">Create New Product</a>
          <% seller_product_count = @products.count %>
          <p>You have created a total  <%= seller_product_count %> products </p>
          <ul>
            <% @products.each do |product| %>
              <li><%= link_to product.name, product_url(product) %></li>
       <% end %>
          </ul>

      <% else %>
        <h1>Products</h1>
         <ul><% @products.each do |product| %>
           <li><%= link_to product.name, product %>
                <p>Price :<%= product.price %></p>
                <p>Status: <%= product.status ? 'Available' : 'Out of Stock' %></p>
                <p><%= image_tag product.image %><p>
           </li>
          <% end %></ul>
          
      <% end %>
    <% end %>
  </div>
</body>
</html>
