
<% if current_user.admin? %>
 <div> Welcome  to Admin <%= current_user.email %> </div> <br>
 <p> Here is the list of all seller!!!<p>
  <% @users.each do |user| %>
  <li>
    <%= user.email%>
  </li>
  <% end %>
<% else %>
<% if user_signed_in? %>
   <div> Welcome  to <%= current_user.email %> </div> <br>
  <% if current_user && current_user.seller? %>
    <p>Welcome, seller!</p>
    <p>You Have Created Total Products: <%= @product_count %></p>
    <%= link_to "Create New product", new_product_path,@product %>
  <% else %>
  <p>Welcome, buyer user!</p>
  <% end %>

  <h1> Products <h1>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.name, product %>
      </li>
    <% end %>
    <br>
  </ul>
  <% end %>
<% end %>
<br>

<% if user_signed_in? %>
  <%= link_to "Sign out",destroy_user_session_path, method: :delete%>
  <% else %>
  <%= link_to "Sign in", new_user_session_path  %>
<% end %>
