<body>
  <nav>
    <div class="logo">My E-commerce Website</div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="/users/sign_out">Sign Out</a></li>
    </ul>
  </nav>

  <div class="container">
     <% if current_user.role == "admin" %>
      <div class="welcome-message">Welcome to Admin <%= current_user.email %></div><br>
      <p>Here is the list of all sellers:</p>
      <ul class="user-list">
        <% @users.each do |seller| %>
          <li><%= link_to seller.email %></li>
        <% end %>
      </ul>
    <% else %>
      <% if user_signed_in? %>
        <div class="welcome-message">Welcome to <%= current_user.email %></div><br>
      <% if current_user && current_user.role == "seller" %>
          <p>Welcome, seller!</p>
          <a href="<%= new_product_path %>" class="create-product-button">Create New Product</a>
          <p>You have created a total of <%= @product_count %> products</p>
          <% @seller.each do |product| %>
          <li><%= link_to product.name,product_url(product)%></li>
        <% end %>
        <% else %>
          <p>Welcome, buyer user!</p>
        <% end %>

        <% if current_user.role == "buyer" %>
        <h1>Products</h1>
        <ul class="product-list">
          <% @products.each do |product| %>
            <li>
              <%= link_to product.name, product %>
              <p>$<%= product.price %></p>
            </li>
          <% end %>
        </ul>
        <% end %>
      <% end %>
    <% end %>
  </div>
</body>
</html>
