<h1>Details<h1>
<%= @product.name %><br>
<%= @product.brand_name %><br>
<%= @product.description %><br>
<%= @product.price %><br>
<%= @product.rating %><br>
<%= @product.status %><br>
<%= @product.quantity%><br>

<ul>
  <% if current_user && current_user.seller? %>
  <li><%= link_to "Edit", edit_product_path(@product) %></li>
  <li><%= link_to "Destroy", product_path(@product), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  <li><%= link_to "create New" , new_product_path(@product)%></li>
<% end %>
</ul>
